@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #f8f4ed;
  color: #2a2a2a;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.bg-luxury {
  background-color: #91C8E4 !important;
  /* background-image: none; */
}

.bg-beige {
  background-color: #FFFBDE !important;
}